@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #f0f0f0;
}
/* main-container */
.main-container {
  margin: 154px 300px 155px 300px;
  background-color: #fff;
  border-radius: 24px 24px 200px 24px;
  padding: 56px;
}
.input-boxes {
  display: flex;
  align-items: center;
  column-gap: 32px;
  width: 160px;
}
.input-box {
  display: flex;
  flex-direction: column;
}
input {
  width: 160px;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #151515;
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  outline: none;
  margin-bottom: 8px;
}
input:focus {
  border: 1px solid #854dff;
}
h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 25%;
  color: #716f6f;
}
.error-msg {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 21px;
  color: #ff5959;
}
/* btn-box */
.btn-box {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
}
.btn-line {
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: 1px solid #716f6f;
  opacity: 0.2;
}
.btn {
  width: 96px;
  height: 96px;
  background-color: #854dff;
  border: none;
  border-radius: 216px;
  cursor: pointer;
}
.btn:hover {
  background-color: #151515;
}

/* ***result-box */
.result-box {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
h2 {
  font-size: 104px;
  font-weight: 800;
  font-style: italic;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #151515;
}
.result-text {
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  color: #854dff;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media */
@media only screen and (max-width: 1024px) {
  .main-container {
    margin: 154px 150px 155px 150px;
  }
  .input-boxes {
    column-gap: 25px;
    width: 140px;
    height: 76px;
  }
  input {
    width: 140px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1%;
    padding: 12px 12px 12px 16px;
  }
  .input-box p {
    font-size: 12px;
  }
  h1 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25em;
  }
  h2 {
    font-size: 87px;
  }
  .result-text {
    font-size: 87px;
  }
}
@media only screen and (max-width: 768px) {
  .main-container {
    margin: 88px 75px;
  }
  .input-boxes {
    column-gap: 16px;
    width: 155px;
  }
  input {
    width: 155px;
  }
  .btn-box {
    position: relative;
    justify-content: center;
  }
  .btn-info {
    position: absolute;
  }
  .btn {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 500px) {
  .main-container {
    margin: 88px 16px 238px 16px;
    padding: 48px 24px;
  }
  .input-boxes {
    column-gap: 16px;
    width: 87px;
    height: 76px;
  }
  input {
    width: 87px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1%;
    padding: 12px 12px 12px 16px;
  }
  h1 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25em;
  }
  .btn {
    width: 50px;
    height: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .result-text {
    font-size: 40px;
  }
}
